/node_modules/
private/
private_2/
/dist/
/build/
/.vscode/
src/generated/
jobs/export/
/temp/
.DS_Store
/.yarn/install-state.gz
/scripts/convert_tsx.json
/coverage
/src/client/generated/

# package specific ignores
/packages/jobs/temp/
/packages/server/model/
/packages/server/src/client/
**.bundle.js

packages/server/src/serverutils/git.ts

# Generated JS files from bad tsc commands
packages/server/src/**/*.js
packages/server/scripts/**/*.js
packages/server/test/**/*.js
packages/utils/src/**/*.js
!packages/utils/src/generated/**/*.js

# .gitignore

# dependencies
/node_modules
**/node_modules/
/.idea

# testing
/coverage
/packages/**/coverage/*
**/test-results

# production
/dist
**/dist/
**/build/

# misc
.DS_Store
.env
**/.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Storybook
**/storybook/preview.js
**/storybook/manager.js
**/storybook/main.js
**/storybook/webpack.config.js
**/storybook/tsconfig.json
**/storybook/babel.config.js
**/storybook/.babelrc
**/storybook/.storybook-dts
**/storybook/public
**/storybook-static/*
**/storybook.log

# client builds copied to server package
/packages/SiteServer/src/client

# CDK out
**/cdk.out/*

# any .zip
*.zip

# migration checkpoints
.migration-checkpoints/
