dist/**/*
.git/**/*
node_modules/**/*
packages/server/dist/**/*
packages/server/src/client/**/*
packages/client/dist/**/*
packages/jobs/dist/**/*
packages/jobs/temp/**/*
packages/utils/src/generated/**/*
