extends ../layout

block content
  include ../flash
  input(type='hidden', id='data', value=JSON.stringify(data))
  input(type='hidden', id='card', value=JSON.stringify(card))
  #react-root
  script(src='/js/autocard.js')
  script(src='/js/cardpage.bundle.js')