extends ../layout

block content
  include ../flash

  #react-root

block scripts
  include ../react
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  script(src='/js/autocard.js')
  script(src='/js/cardpage.bundle.js')
