extends layout

block content
  .container  
    br
    .row
      .col
      .col
        h3 404: Page not found
        br
        img(src="https://img.scryfall.com/cards/normal/front/0/c/0c082aa8-bf7f-47f2-baf8-43ad253fd7d7.jpg?1545408427")
      .col

  
