extends layout

block content
  h4 Cookies Policy
  br
  dl.row
    dt.col-3 Do we use 'cookies'?
    dd.col-9
      p Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) 
        | that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use 
        | cookies to maintan login sessions. They are also used to help us understand your preferences based on previous or 
        | current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic
        | and site interaction so that we can offer better site experiences and tools in the future.        
  dl.row
    dt.col-3 We use cookies to:
    dd.col-9
      ul
        li Understand and save user's preferences for future visits.
        li Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third 
          | party services that track this information on our behalf.
      p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. 
        | Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.
  dl.row
    dt.col-3 If users disable cookies in their browser
    dd.col-9
      p If you turn cookies off, some features will be disabled. It will turn off some of the features that make your site experience more efficient and some of our services will 
        | not function properly, including but not limited to Persistent Login.
