extends layout

block content
  h5
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#' style='color: #218937;') #{owner}
        li.breadcrumb-item.active(aria-current='page')= cube.name
      

  ul.nav.nav-tabs.nav-fill.nav-justified
      li.nav-item
        a.nav-link(href='/cube/overview/'+cube._id) Overview
      li.nav-item
        a.nav-link(href='/cube/list/'+cube._id) List
      li.nav-item
        a.nav-link.active(href='/cube/playtest/'+cube._id) Playtest
      li.nav-item
        a.nav-link(href='/cube/analysis/'+cube._id) Analysis
      li.nav-item
        a.nav-link(href='/cube/blog/'+cube._id) Blog
  .container
    br  
    .row
      if decks.length > 0
        .col-6
          .card
            .card-body
              h5.card-title Recent Decks
              each deck, i in decks
                a(href='/cube/deck/'+deck._id) #{deck.name}
                br
      .col-6
        .card
          .card-body
            h5.card-title Start a new draft
            form(method='POST', action='/cube/startdraft/'+cube.id)
              .form-group.row
                label.col-sm-4.col-form-label.col-form-label-sm Number of Packs
                .col-sm-8
                  select#inputState.form-control(name='packs')
                    option 1
                    option 2
                    option(selected='') 3
                    option 4
                    option 5
              .form-group.row
                label.col-sm-4.col-form-label.col-form-label-sm Cards per Pack
                .col-sm-8
                  select#inputState.form-control(name='cards')
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10
                    option 11
                    option 12
                    option 13
                    option 14
                    option(selected='') 15
                    option 16
                    option 17
                    option 18
                    option 19
                    option 20             
              .form-group.row
                label.col-sm-4.col-form-label.col-form-label-sm Total Seats
                .col-sm-8
                  select#inputState.form-control(name='seats')
                    option 4
                    option 5
                    option 6
                    option 7
                    option(selected='') 8
                    option 9
                    option 10

              button.btn.btn-success(type='submit') Start Draft
