extends layout

block content
  include flash

  #react-root !{reactHTML}

block scripts
  include react
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  script(src='/js/dashboard.bundle.js')

  script(src='/js/autocard.js')
  script(type='text/javascript').
    autocard_init('autocard');
    autocard_init('dynamic-autocard');
