extends layout

block content
  include flash
  br

  #react-root
  input#blogData(type='hidden', value=posts)
  input#cubeData(type='hidden', value=cubes)
  input#decksData(type='hidden', value=decks)
  input#userid(type='hidden', value=user._id)

block scripts
  include react
  script(src='/js/dashboard.bundle.js')
