extends layout

block content
  h1 #{title}
  form(method='POST', action='/cube/edit/'+cube._id)
    #form-group
      label Title:
      input.form-control(name='title', type='text', value=cube.title)
    #form-group
      label Body:
      textarea.form-control(name='body')=cube.body
    br
    input.btn.btn-primary(type='submit',value='Submit')
