extends layout

block content
  include flash
  #react-root !{reactHTML}

block scripts
  include react
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  script(src='/js/explore.bundle.js')