doctype html
html
  style.
    .dropdown-menu a:focus{
    background-color: #28A745;
    color: white
    }
  head  
    link(rel='icon', href='/content/favicon.ico', type='image/x-icon')
    title Cube Cobra
    link(rel='stylesheet' href='/css/stylesheet.css')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    #autocard_popup(style='position:absolute;z-index: 1;')
  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      .container
        a(href='/')
          img(src="/content/banner_small.png" alt="MTG Cube Nexus")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample03', aria-controls='navbarsExample03', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home            
          li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              |  Browse
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              if user
                a.dropdown-item(href='/browse') Your Cubes
              a.dropdown-item(href='/search') Search
              a.dropdown-item(href='/browse') Featured
          li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              |  About
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='/contact') Contact
              a.dropdown-item(href='/blog') Dev Blog
              a.dropdown-item(href='/faq') FAQ
          if user
            li.nav-item
              a.nav-link(href="#", data-toggle='modal', data-target='#cubeModal') Create New Cube
        ul.navbar-nav.navbar-right
          if user
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                |  #{user.username}  
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href='/user/account/yourcubes') Your Cubes
                a.dropdown-item(href='/user/account') Account Information
                a.dropdown-item(href='/user/account/changepassword') Change Password
                a.dropdown-item(href='/user/account/updateemail') Update Email
                a.dropdown-item(href='/user/logout') Logout
              
          else
            li.nav-item
              a.nav-link(href='/user/register') Register
            li.nav-item
              a.nav-link(data-toggle='modal', data-target='#loginModal') Login
    .container
      br
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      
      block content
      br
      hr
      footer
        p Copyright &copy; 2019      
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')  
    script(src='/js/main.js')
    script(src='/js/autocard.js')
    
// Login modal
#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      form(method='POST', action='/user/login')
        .modal-header
          h5#loginModalLabel.modal-title Login
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
            .form-group
              label.col-form-label Username or Email Address:
              input#username.form-control(name='username', type='text')
            .form-group
              label.col-form-label Password:
              input#password.form-control(name='password', type='password')
            a(href='/user/lostpassword') Forgot password?
            br
        .modal-footer
          input.btn.btn-success(type='submit',value='Login')
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

// Add cube modal
#cubeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cubeModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      form(method='POST', action='/cube/add')
        .modal-header
          h5#loginModalLabel.modal-title Create New Cube
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
            .form-group
              label.col-form-label Cube Name:
              input.form-control(name='name', type='text')

            br
        .modal-footer
          input.btn.btn-success(type='submit',value='Create')
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
