
              <li className="nav-item dropdown">
                <a
                  className="nav-link dropdown-toggle"
                  id="navbarDropdownMenuLink"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {' '}
                  Browse
                </a>
                <div className="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a className="dropdown-item" href="/tool/topcards">
                    Top Cards
                  </a>
                  <a className="dropdown-item" href="/tool/searchcards">
                    Search Cards
                  </a>
                  <a className="dropdown-item" href="/explore">
                    Explore Cubes
                  </a>
                  <a className="dropdown-item" href="/search">
                    Search Cubes
                  </a>
                  <a className="dropdown-item" href="/random">
                    Random Cube
                  </a>
                </div>
              </li>

           

            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> About</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="https://www.inkedgaming.com/collections/artists/gwen-dekker?rfsn=4250904.d3f372&amp;utm_source=refersion&amp;utm_medium=affiliate&amp;utm_campaign=4250904.d3f372" target="_blank">Merchandise</a><a class="dropdown-item" href="/contact">Contact</a><a class="dropdown-item" href="/dev/blog">Dev Blog</a><a class="dropdown-item" href="/ourstory">Our Story</a><a class="dropdown-item" href="/faq">FAQ</a><a class="dropdown-item" href="/donate">Donate</a></div>
            </li>

            <li class="nav-item"><a class="nav-link" href="/user/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/login" data-toggle="modal" data-target="#loginModal">Login</a></li>


    <div class="container-lg">
      <hr>
      <footer>
        <p class="center" style="text-align: center; font-size:12px"><a>Magic: The Gathering is &copy; </a><a href="https://company.wizards.com/">Wizards of the Coast</a><a>. Cube Cobra is not affiliated nor produced nor endorsed by Wizards of the Coast. </a><br><a>All card images, mana symbols, expansions and art related to Magic the Gathering is a property of Wizards of the Coast/Hasbro. </a><br><a>This site is not affiliated nor endorsed by Scryfall LLC. This site endeavours to adhere to the Scryfall data guidelines. </a><br><a>
            Custom card images displayed in Cube Cobra are subject to the license terms under which they were uploaded to their hosts. Cube Cobra is not responsible for the content of custom card images.</a><br><a>To report a custom card image violation, message the development team on </a><a href="https://discord.gg/Hn39bCU">Discord.</a><br><a>All other content Copyright &copy; 2019 Cube Cobra</a><br><a href="/privacy">Privacy Privacy </a><a> | </a><a href="/tos">Terms and Conditions</a><a> | </a><a href="/cookies">Cookies Policy</a></p>
      </footer>
    </div>

    
    <!-- Login modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="POST" action="/user/login">
            <input type="hidden" name="_csrf">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Login</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-form-label">Username or Email Address:</label>
                <input class="form-control" id="username" name="username" type="text" autocomplete="username">
              </div>
              <div class="form-group">
                <label class="col-form-label">Password:</label>
                <input class="form-control" id="password" name="password" type="password" autocomplete="current-password">
              </div><a href="/user/lostpassword">Forgot password?</a><br>
            </div>
            <div class="modal-footer">
              <input class="btn btn-success" type="submit" value="Login">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Add cube modal-->
    <div class="modal fade" id="cubeModal" tabindex="-1" role="dialog" aria-labelledby="cubeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="POST" action="/cube/add" onsubmit="createButton.disabled = true; return true;">
            <input type="hidden" name="_csrf">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Create New Cube</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-form-label">Cube Name:</label>
                <input class="form-control" name="name" type="text">
              </div><br>
            </div>
            <div class="modal-footer">
              <input class="btn btn-success" name="createButton" type="submit" value="Create">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
