p I am so very excited for this update to finally arrive. We are now introducing a content hub on Cube Cobra. This is a place where users can post and view Articles, Podcasts, and Videos. On that note, I've written up an article going over the new set for cube, you can check it out here: 
  a(href="https://cubecobra.com/content/article/5f5b8eeccc79641050eb72b4") https://cubecobra.com/content/article/5f5b8eeccc79641050eb72b4
p If you're interested in sharing your content, just fill out this simple application here, and I'll get back to you as soon as I can: 
  a(href="https://cubecobra.com/content/application") https://cubecobra.com/content/application
p This update also reworks many text entries on the site to use a variant of markdown, specialized for magic. You can read more about this markdown here: 
  a(href="https://cubecobra.com/markdown") https://cubecobra.com/markdown
p You'll also notice a reworked header nav bar, and a completely new footer, and landing page! These changes were made possible by a large ongoing effort to move the entire site into React. When Cube Cobra launched, we used a rendering engine called Jade (or sometimes Pug). Since then, we've been moving old parts of the site into React, and this update marks the completion of that long goal. This will make it a lot easier to develop and debug our front end, and I'm very excited about the possibilities now that we're here.
p New Features:
ul
  li Added Content features
  li Moved the entire front end to 100% React
  li Reworked landing page
  li Reworked site-wide header and footer
  li Updated most text entry around the site to accept markdown over the old WYSIWYG text editor.
  li Added email templates to make emails look a bit more reasonable.
  li Added filtering by legality
  li Updated legality badge styling
  li Added tag autocomplete in advanced filter modal

p Bugfixes:
ul
  li New cards now have placeholder card pages
  li Fixed various, infrequently occuring front end crashes.