p 
p New Features:
ul
  li Updated cubes to only have two IDs, a long canonical ID, and a customizable shortID.
  li Clarified cube ID presentation on cube overview page

p Bugfixes:
ul
  li Fixed an issue with adding a card while specifying versions when that card has multiple versions in the selected set
  li Fixed memory leak with analytics aggregation, shoud regularly update automatically now 
