p Thank you for being patient during our downtime. This was a neccesary measure to perform a data migration to enable some of our new features, help keep hosting costs low, and to lower the amount of data needed to be loaded for various activities. 
p 
  | With this release we updated cubes to only have 2 IDs. Previously cubes had a random long id,
  | a random short id, and possibly a custom ID. We combined the short ID and custom ID so now when you
  | define a custom ID for your cube it'll replace the short ID. This makes links much more consistent
  | across the site. We also added the long ID to a modal on the overview page for the cube. You can
  | access it by clicking the question mark next to the Cube ID field. Use the long ID if you need links
  | that will always work since links using the short/custom ID will break when the custom ID is set or
  | changed. This will break some links to existing cubes that used the short ID when the cube had a
  | custom ID as well.
p 
  | Now for the big stuff. Drafting got a major overhaul this release. Internally nearly all the code
  | was edited or rewritten to modernize and improve functionality. What this means for you is that
  | draft and deck pages should load faster now. The draftbots should also be improved and faster.
  | Ruler501 will write about the draftbot improvements and what else is being done for them in her
  | series on the draftbots at a later time. It is unlikely that these changes will destroy data in
  | existing cubes/decks/drafts, but if you notice any please report it to Dekkaru who can get the
  | previous version restored from our backups.
p 
  | Custom formats were also greatly improved with this release with several all new, and much
  | requested features. First you can now specify the steps to draft each pack in your cube. A step is
  | an action such as
  ul 
    li Pass the pack in the correct direction
    li Pick a card from the pack (can also have this be a random card).
    li Trash/Burn a card from the pack (which can also be random).
  | In the future we can add even more actions to this list as they are suggested. Using these actions
  | you can implement things like the formats for Commander Legends, Double Masters, Sealed, Pancake and
  | more. As a tip if you want to have the last N cards in a pack picked or trashed (like say a sealed
  | pack) you can make it randomly pick that number of cards so you don't have to click through picking
  | each one. The UI for this is experimental and we would greatly appreciate feedback on how to improve
p New Features:
ul
  li Reworked custom draft formats, adding a way to customize draft steps (pick, skip, burn/trash, pass)
  li Updated cubes to only have two IDs, a long canonical ID, and a customizable shortID.
  li Clarified cube ID presentation on cube overview page
  li Sort card version list by release date in card edit modal
  li Fixed links to Lucky Paper's cube map

p Bugfixes:
ul
  li Fixed an issue with adding a card while specifying versions when that card has multiple versions in the selected set
  li Fixed memory leak with analytics aggregation, shoud regularly update automatically now 
