p
  a This update contains several signficant new features requested by the community, in addition to a handful of bugfixes.
p
  a There have been a few tweaks to sitewide UI, but nothing too major. If you spot a change that you don't like, or spot a change that you do really like, let me know on twitter or in Discord! It's your feedback that continues to allow me to make impactful updates.
  a A big change you will notice is to blogs and cube descriptions. You can now add basic formatting, and tag cards. The UI is fairly straightforward, but once again let me know if you find anything cumbersome. One of our biggest priorities is user experience, 
  a so we it's very important to us that everything makes sense and is easy to use.
p
  a I am still working on the process of making Cube Cobra open source, but I do not have any new anouncements at this time.
p 
  a Without any further ado, let's go over the changes.
p
  a New Features
  ul
    li You can now sort and filter by power, toughness, and loyalty
    li You can now sort and filter by format legality. Supported formats are: Vintage, Legacy, Modern, Standard, and Pauper
    li Visual spoiler added. Try it out by clicking 'Visual Spoiler' when looking at a cube list!
    li Added basic text editor for formatting for blog posts and cube descriptions
    li Blog posts can now be edited and removed
    li Blog posts and cube descriptions can now link to cards, which will show when hovered
    li When adding/removing cards, the body of the blog post can now be edited
    li Cubes are now automatically assigned based on what format all the cards are legal in
    li Cube size and 'power level' can be seen from any cube page, and from the cube summary card
    li All drafts can now be seen from a user's public profile
    li All drafts can now be viewed from a cube
      
p
  a Bugfixes
    ul
      li When adding duplicate tags, tags will not be duplicated.
      li Fixed a typo on the FAQ
      li Password limitations removed
      li Four color cards no longer match for five color cards
      li Analysis now counts all cards correctly
