p
  a This update is a small hotfix for issues that users reported after the 1.4 release. 
p
  a Bugfixes
    ul
      li Contraptions are now sorted correctly
      li Group edit tags now save correctly
p
  a I've also refactored the edit cube client side scripts, with no functionality changed. I've recieved several reports now on a bug with a playtest draft, but I haven't been able to replicate the issue so far. 
  a  For the next update, I will be working on the large playtest overhaul, that I have delayed for a couple of updates. This will likely fix the draft bug inadvertently, so stay tuned for updates!
