link(rel='stylesheet' href='/css/texteditor.css')

br
em To tag cards in post, use '[[cardname]]'. E.g. [[Island]]
.card
  .card-header(style='padding: 0px;')
    .toolbar
      .row.no-gutters
        a.toolbar-item(href='#' data-command='bold')
          strong B
        a.toolbar-item(href='#' data-command='italic')
          em I
        a.toolbar-item(href='#' data-command='underline')
          u U
        a.toolbar-item(href='#' data-command='strikethrough')
          s S
        a.toolbar-item(href='#' data-command='h5') H1
        a.toolbar-item(href='#' data-command='h6') H2
        a.toolbar-item(href='#' data-command='insertUnorderedList') ul
        a.toolbar-item(href='#' data-command='insertOrderedList') ol
  #editor(contenteditable='') !{editorvalue}
