extends layout

block content  


  h2 My Account
  .row
    .col-3
      #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
        a#v-pills-home-tab.nav-link(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='false') Information
        a#v-pills-profile-tab.nav-link.active(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='true') Change Password
    .col-9
      #v-pills-tabContent.tab-content
        #v-pills-home.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-home-tab') ...
        #v-pills-profile.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-profile-tab') 
          form(method='POST', action='/user/resetpassword')
            .form-group.row
              label.col-sm-4.col-form-label Old password:
              input#password.form-control.form-control.col-sm-8(name='password', type='password')
            .form-group.row
              label.col-sm-4.col-form-label New Password:
              input#newPassword.form-control.form-control.col-sm-8(name='password2', type='password')
            .form-group.row
              label.col-sm-4.col-form-label Confirm New Password:
              input#confirmPassword.form-control.form-control.col-sm-8(name='password3', type='password')
            input.btn.btn-success(type='submit',value='Change Password')
