:root {
  --mode: dark;
  --border: #5f6a75;
  --border-dark: #818c96;
  --border-darker: #98a2ab;
  --border-light: #252a2e;
  --bg: #343A40;
  --bg-dark: #444A50;
  --bg-darker: #949Aa0;
  --bg-secondary: #24292e;
  --bg-hover: #4a5057;
  --bg-advert: #5b5a40;
  --success: #28a745;
  --secondary: #6c757d;
  --danger: #dc3545;
  --link: #50a6ff;
  --glow: #599bff;
  --text:#fff;
  --card-text:#ddd;
  --text-secondary:#b0b0b0;
  --link-secondary:#EEE;
  --link-secondary-hover:#CCC;
  --text-light:#838a8f;
  --header: rgba(255,255,255,.03);
  --hover: rgba(255,255,255,.1);
  --shadow: rgba(0,0,0,.2);
  --shadow-light: rgba(0,0,0,.06);
  --hover-inverse: rgba(0,0,0,.2);
  --card-white: #5f5f4b;
  --card-blue: #344d5f;
  --card-black: #453f52;
  --card-red: #5f3844;
  --card-green: #495f34;
  --card-multi: #5c5809;
  --card-colorless: #3c3a40;
  --card-lands: #5f3a24;
  --preview-article: rgba(116, 198, 135, 0.5);
  --preview-podcast:rgba(0, 0, 0, 0.6);
  --preview-video:  rgba(254, 66, 66, 0.5);
  --nav-link: rgba(255,255,255,.5);
  --button-green: #087715;
  --button-red: #bc1525;
  --secondary-nav-link:rgba(255,255,255,.5);
  --secondary-nav-link-hover:rgba(255,255,255,.8);
  --dropdown-hover: #b6b8bb;
  --code-color:#fb7edc;
  --code-bg: rgb(43, 43, 43);
  --read-only-disabled: #797c8f;
}