:root {
  --mode: default;
  --border: #d4d4d4;
  --border-dark: #bbb;
  --border-darker: #999;
  --border-light: #d4d4d4;
  --bg: #fff;
  --bg-dark: #efefef;
  --bg-darker: #cfcfcf;
  --bg-secondary: #343A40;
  --bg-hover: #e9e9e9;
  --success: #28a745;
  --secondary: #6c757d;
  --danger: #dc3545;
  --link: #0056b5;
  --glow: #599bff;
  --text:#000;
  --card-text:#000;
  --text-secondary:#b0b0b0;
  --link-secondary:#EEE;
  --link-secondary-hover:#CCC;
  --text-light:#535a5f;
  --header: rgba(0,0,0,.03);
  --hover: rgba(0,0,0,.1);
  --shadow: rgba(0,0,0,.2);
  --shadow-light: rgba(0,0,0,.06);
  --hover-inverse: rgba(255,255,255,.2);
  --card-white: #ffffeb;
  --card-blue: #d4edff;
  --card-black: #d6cbd6;
  --card-red: #ffc8c8;
  --card-green: #e9ffd4;
  --card-multi: #fcf8a9;
  --card-colorless: #e9e7eb;
  --card-lands: #ffe0c0;
  --preview-article: rgba(116, 198, 135, 0.5);
  --preview-podcast:rgba(0, 0, 0, 0.6);
  --preview-video:  rgba(254, 66, 66, 0.5);
  --nav-link: rgba(255,255,255,.5);
  --button-green: #28a745;
  --button-red: #dc3545;
  --secondary-nav-link:rgba(0,0,0,.5);
  --secondary-nav-link-hover:rgba(0,0,0,.7);
  --dropdown-hover: #16181b;
  --code-color:#d71d72;
  --code-bg: rgb(245, 245, 245);
  --read-only-disabled: #e9ecef;
}