.outline {
  box-shadow: 0px 0px 15px 0px rgb(89, 155, 255);
}

.transparent {
  opacity: 0.5;
}

.stacked {
  /* This is calculated relative to containing width */
  margin-top: -124%;
}

.stack {
  padding-top: 124%;
}

.draft-card {
  border-radius: 4% / 2.858%;
}

.card-stack {
  padding: 0 2px;
}

.draft-row {
  margin: 0 -2px;
}

.col-1-5 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
