.outline {
  box-shadow: 0px 0px 15px 0px rgb(89, 155, 255);
}

.transparent {
  opacity: 0.5;
}

.stacked {
  /* This is calculated relative to containing width */
  margin-top: -124%;
}

.stack {
  padding-top: 124%;
}

.col-low-padding {
  padding: 0 2px;
}

.row-low-padding {
  margin: 0 -2px;
}

.row-grid {
  margin: 0 -0.5rem;
}

.col-grid {
  padding: 0 0.5rem;
}

.grid-hover {
  border: 2px solid black;
  border-radius: 10px;
}

.grid-hover.row.no-gutters {
  margin: -2px;
}

.column-hover {
  position: absolute;
  width: calc((100% - 1rem) * 2 / 9);
  margin: 0 -0.5rem;
  top: 1rem;
  bottom: 1rem;
  pointer-events: none;
}

.off-screen {
  position: absolute;
  z-index: -10000;
}
