
.dragcard {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}
/*
.card-hover:hover{
  box-shadow: 0px 0px 15px 0px rgb(89, 155, 255);
}
.pickscol:hover
{
   background: #3374C2;
}

*/
#packarea{
  min-height: 25px;
}

.pickscol{
  position: relative;
  width: 129px;
  min-height: 25px;
  /*border: 1px solid;*/
  overflow: hidden;
}
.deckcol{
  position: relative;
  width: 129px;
  min-height: 25px;
  /*border: 1px solid;*/
  overflow: hidden;
}
.sideboardcol{
  position: relative;
  width: 129px;
  min-height: 25px;
  /*border: 1px solid;*/
  overflow: hidden;
}

.outline {
  box-shadow: 0px 0px 15px 0px rgb(89, 155, 255);
}