.nostretch{
	width:1%;
	white-space:nowrap;
}
.tdcheck{
	margin-top:10px;
}
.tdcard:hover {
	cursor: pointer;
}
.tdcard{
	font-size: 12px;
	color: black;
	text-decoration: none;
}
.listviewrow{
	line-height:15px;
	margin:0px;
}
.nospace
{
	padding: 0px;
	margin: 0px;
}
.compactControl
{
	font-size: 12px;
	padding:2px;
}
.tdname
{
	padding-top:10px;
}
.inputsm
{
	width:50px;
}
.inputmd
{
	width:80px;
}
.inputl
{
	width:100px;
}
.inputxl
{
	width:130px;
}
.clickx
{
	color:black;
	font-weight: bold;
	text-decoration:none;
}
.clickx:hover
{
	color:red;
	font-weight: bold;
	text-decoration:none;
}

.compare-col
{
    float: none;
    margin: 0 auto;
    width: 100%;
}

.view-style-select
{
    margin-bottom: 1rem;
    width: 100%;
}

@media (min-width: 768px) { 
	.compare-col
	{
		width: 80%;
	}
    .view-style-select
    {
        width: 130px;
		padding-right: 10px;
		margin-bottom: 0;
    }
}

@media (min-width: 992px) { 
	.compare-col
	{
		width: 60%;
	}
}

.compare-header
{
	margin-top:40px;
	margin-bottom:10px;
	background:#F4F4F4;
	border:1px solid #bbb;
	border-radius:5px;
}

.first-compare-header
{
	margin-top:0px;
}

.compare-title
{
	padding-top:10px;
}

.cmc-group
{
	background:#fbfbfb;
}
