  
.clickx
{
	color:black;
	font-weight: bold;
	text-decoration:none;
}
.clickx:hover
{
	color:red;
	font-weight: bold;
	text-decoration:none;
}

.changelist {
	padding-left: 0;
	margin-bottom: 0;
}

.changelist li {
	list-style-type: none;
}

.blogpost-editor {
	min-height: 12rem;
	padding: 0.375rem;
}

.autocomplete-list {
	position: absolute;
	z-index: 100;
	padding: 0;
	border: 1px solid #d4d4d4;
	background-color: white;
}

.autocomplete-list li {
	list-style-type: none;
	padding: 0.5rem;
}

.autocomplete-list li:not(:first-child) {
	border-top: 1px solid #d4d4d4;
}

.autocomplete-list li:hover {
	background-color: #e9e9e9;
}

.autocomplete-list li.active {
	background-color: #28a745 !important;
	color: #ffffff;
}

.compare-header
{
	margin-top:40px;
    margin-bottom: 10px;
	background:#F4F4F4;
	border:1px solid #bbb;
	border-radius:5px;
}

.row:first-of-type .compare-header
{
	margin-top:0px;
}

.tag-color-container {
  padding-bottom: 1px;
  background-color: #dee2e6;
}

.tag-color-row {
  margin-top: 1px;
  background: white;
}

#showTagColors {
  padding: 20px;
  padding-left: 45px;
  border-bottom: 1px solid #dee2e6;
}
