.clickx
{
	color:black;
	font-weight: bold;
	text-decoration:none;
}
.clickx:hover
{
	color:red;
	font-weight: bold;
	text-decoration:none;
}

.compare-header
{
	margin-top:40px;
    margin-bottom: 10px;
	background:#F4F4F4;
	border:1px solid #bbb;
	border-radius:5px;
}

.row:first-of-type .compare-header
{
	margin-top:0px;
}

.cmc-group
{
	background:#fbfbfb;
}

.tag-color-row
{
  padding-left:30px;
  padding-right:30px;
}

.tag-color-row + .tag-color-row
{
  border-top: 1px solid #dee2e6;
}

#showTagColors {
  padding: 20px;
  padding-left: 45px;
  border-bottom: 1px solid #dee2e6;
}
