.nostretch{
	width:1%;
	white-space:nowrap;
}
.tdcheck{
	margin-top:10px;
}
.tdcard:hover {
	cursor: pointer;
}
.tdcard{
	font-size: 12px;
	color: black;
	text-decoration: none;
}
.listviewrow{
	line-height:15px;
	margin:0px;
}
.nospace
{
	padding: 0px;
	margin: 0px;
}
.compactControl
{
	font-size: 12px;
	padding:2px;
}
.tdname
{
	padding-top:10px;
}
.inputsm
{
	width:50px;
}
.inputmd
{
	width:80px;
}
.inputl
{
	width:100px;
}
.inputxl
{
	width:130px;
}
.clickx
{
	color:black;
	font-weight: bold;
	text-decoration:none;
}
.clickx:hover
{
	color:red;
	font-weight: bold;
	text-decoration:none;
}

.compare-col
{
    float: none;
    margin: 0 auto;
    width: 100%;
}

.compare-header
{
	margin-top:40px;
    margin-bottom: 10px;
	background:#F4F4F4;
	border:1px solid #bbb;
	border-radius:5px;
}

.row:first-of-type .compare-header
{
	margin-top:0px;
}

.compare-title
{
	padding-top:10px;
}

.cmc-group
{
	background:#fbfbfb;
}

.tag-color-row
{
  padding-left:30px;
  padding-right:30px;
}

.tag-color-row + .tag-color-row
{
  border-top: 1px solid #dee2e6;
}

.tag-color-select
{
  margin: 10px;
}

#showTagColors {
  padding: 20px;
  padding-left: 45px;
  border-bottom: 1px solid #dee2e6;
}
