.cubenav {
	border-right: 1px solid #DEE2E6;
	border-left: 1px solid #DEE2E6;
}

.usercontrols
{
	background-image: linear-gradient(white, #EFEFEF);
		border-right: 1px solid #DEE2E6;
		border-left: 1px solid #DEE2E6;
		border-bottom: 1px solid #DEE2E6;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-success-msg {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.nav-pills .nav-link.active {
	background-color: #28A745;
}

.nav-pills .nav-link:not(.active) {
	color: #218937;
}

.nav-link:not(.hover) {
	color: #218937;
}

.nav-link.hover {
	color: #218937;
}

.pagination>li>a,
.pagination>li>button {
	background-color: white;
	color: #5A4181;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>button:focus,
.pagination>li>button:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	color: #5a5a5a;
	background-color: #eee;
	border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>button {
	color: white;
	background-color: #28A745 !Important;
	border: solid 1px #28A745 !Important;
}

.pagination>.active>a:hover,
.pagination>.active>button:hover {
	background-color: #28A745 !Important;
	border: solid 1px #28A745;
}

.dropdown-menu>li>a:hover {
	background-color: red;
	background-image: none;
}

.even-cols .col-even {
	padding: 1px 2px;
}

.list-group-item {
	padding: 1px 2px
}

.list-group {
	padding: 0px 0px;
}

.list-group.list-outline {
	border:1px solid #bbb;
	border-radius:5px;
	margin-bottom: 5px;
	overflow: hidden;
}

.list-group,
.list-group-item {
	display: block;
	border: none;
}

.list-group-item.list-group-heading {
	background-color: #F4F4F4 !Important;
	text-align: center;
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	font-size: 9pt;
	font-weight: 600;
	border-bottom: 1px solid #bbb;
    margin-bottom: 0px;
}
.list-group-item.list-group-heading:hover {
	background-color: #FCFCFC !Important;
	color: black;
	text-decoration: none;
}

.col-md-1 {
	padding: 3px
}

.editarea {
	overflow: auto;
	max-height: 200px;
}

.filterarea {
	overflow: auto;
	max-height: 250px;
	border: 1px solid #CED4DA;
  border-radius: 4px;
	padding: 2px;
}

.card-list-item {
    transition: .25s;
    border-radius: 0 !important;
    padding: 0 !important;
    cursor: pointer;
}

.card-list-item a {
	font-size: 8.5pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	color: black;
	padding: 3px 4px;
	text-decoration: none;
}
.card-list-item:hover{
	color: black;
	text-decoration: none;
}
.card-list-item:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.1);
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}
.tag-color.card-list-item:after {
	background: rgba(255,255,255,.2);
}

.card-list-item:hover:after {
    opacity: 1;
}

button.close.float-none {
    font-size: 1.25rem;
}

button.close.float-none span {
    line-height: 0.9;
    vertical-align: top;
}

@media(max-width: 991.98px) {
	.card-list-item {
		font-size: 10pt;
	}
	.list-group-item.list-group-heading {
		font-size: 10pt;
	}
}

.white {
	border-color: #ffffeb;
	background-color: #ffffeb;
}
.blue {
	border-color:#d4edff;
	background-color: #d4edff;
}
.black {
	border-color: #e5dff2;
	background-color: #e5dff2;
}
.red {
	border-color: #ffd8d4;
	background-color: #ffd8d4;
}
.green {
	border-color: #e9ffd4;
	background-color: #e9ffd4;
}
.multi {
	border-color: #fcf8a9;
	background-color: #fcf8a9;
}
.colorless {
	border-color: #dcdae0;
	background-color: #dcdae0;
}
.lands {
	border-color: #ffdac4;
	background-color: #ffdac4;
}

.dropdown-menu a:focus {
	background-color: #28A745;
	color: white
}

.cmc-group {
	border-radius:0;
	position: relative;
}
.cmc-group:not(:last-of-type) {
	/* content : "";
  position: absolute;
  left    : 12.5%;
  bottom  : 0;
  height  : 1px;
  width   : 75%;  or 100px */
  border-bottom:1px solid #999;
}
.cmc-group:last-of-type {
border-bottom: none;
}

.card-price {
  border-radius: 3px;
	padding: 2px;
	margin: 2px;
  border: 1px solid #CED4DA;
}

#autocard_popup_info {
  background-color: #F8F9FA;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top:10px;
	padding-bottom:2px;
}

/* removes white corners from popup */
#autocard_popup2,
#autocard_popup {
	border-radius: 10px;
	overflow: hidden;
	background: #fff;
}
.deckcard, .packcard, .sideboardcard {
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
}

.color-column {
	padding: 2px 2px;
}

.form-check {
	border: none;
}

.defaultCardImage:before {
    content: ' ';
    display: block;
    position: absolute;
    background-image: url(/content/default_card.png);
    height: 210px;
    width: 150px;
    background-size: 150px 210px;
}

.packcard.defaultCardImage:before, .pickscard.defaultCardImage:before, .deckcard.defaultCardImage:before {
    height: 175px;
    width: 125px;
    background-size: 125px 175px;
}

.visualSpoilerCardContainer {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

#packTitle, .card-header h4 {
    display: inline-block;
}

#syntax-accordion .card, #syntax-accordion {
	width: 100%
}
#syntax-accordion .collapse,
#syntax-accordion .collapsing {
	padding: 0.75rem 1.25rem
}
code {
	background: #eee
}
#syntax-accordion .card-header {
	cursor: pointer;
	transition: .25s;
}
#syntax-accordion .card-header:hover {
	background: #dfdfdf;
}
#syntax-accordion .card-header button {
	color:#000
}

div.ReactTags__tags {
	margin-bottom: -0.3rem;
}

div.ReactTags__tagInput {
	flex: 1 1 5rem;
	margin-bottom: 0.3rem;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
	width: 100%;
	height: calc(1.5em + 0.5rem + 2px);
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div.ReactTags__selected {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
	border: 1px solid #ced4da;
	background: #eee;
	display: block;
	padding: 0.25rem 0.5rem;
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
	border-radius: 2px;
	font-size: 0.875rem;
}
div.ReactTags__selected a.ReactTags__remove {
	color: #aaa;
	margin-left: 5px;
	cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
	position: absolute;
}
div.ReactTags__suggestions ul {
	list-style-type: none;
	box-shadow: .05em .01em .5em rgba(0,0,0,.2);
	background: white;
	width: 200px;
}
div.ReactTags__suggestions li {
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
	margin: 0;
}
div.ReactTags__suggestions li mark {
	text-decoration: underline;
	background: none;
	font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
	background: #b7cfe0;
	cursor: pointer;
}


/* Fix z-index on sortables. */
.sortable-item {
	z-index: 10000 !important;
}
.clickable {
	cursor: pointer;
}

div.card {
	box-shadow:  2px 2px 6px 0 rgba(0, 0, 0, 0.06);
	border-radius: 0px;
  }

body.busy-cursor {
	cursor: progress;
}
.centered-max400 { 
	margin: auto; max-width: 400px;
}
.cube-preview-image {
	width: 100%;
	height: auto;
}