.cubenav {
	border-right: 1px solid #DEE2E6;
	border-left: 1px solid #DEE2E6;
}

.usercontrols
{
	background-image: linear-gradient(white, #EFEFEF);
		border-right: 1px solid #DEE2E6;
		border-left: 1px solid #DEE2E6;
		border-bottom: 1px solid #DEE2E6;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-success-msg {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.nav-pills .nav-link.active {
	background-color: #28A745;
}

.nav-pills .nav-link:not(.active) {
	color: #218937;
}

.nav-link:not(.hover) {
	color: #218937;
}

.nav-link.hover {
	color: #218937;
}

.pagination>li>a {
	background-color: white;
	color: #5A4181;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	color: #5a5a5a;
	background-color: #eee;
	border-color: #ddd;
}

.pagination>.active>a {
	color: white;
	background-color: #28A745 !Important;
	border: solid 1px #28A745 !Important;
}

.pagination>.active>a:hover {
	background-color: #28A745 !Important;
	border: solid 1px #28A745;
}

.dropdown-menu>li>a:hover {
	background-color: red;
	background-image: none;
}

.even-cols .col-even {
	padding: 1px 2px;
}

.list-group-item {
	padding: 1px 2px
}

.list-group {
	padding: 0px 0px;
}

.list-group.list-outline {
	border:1px solid #bbb;
	border-radius:5px;
	margin-bottom: 5px;
	overflow: hidden;
}

.list-group,
.list-group-item {
	display: block;
	border: none;
}

.list-group-item.list-group-heading {
	background-color: #F4F4F4 !Important;
	text-align: center;
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	font-size: 9pt;
	font-weight: 600;
	border-bottom: 1px solid #bbb;
    margin-bottom: 0px;
}
.list-group-item.list-group-heading:hover {
	background-color: #FCFCFC !Important;
	color: black;
	text-decoration: none;
}

.col-md-1 {
	padding: 3px
}

.editarea {
	overflow: auto;
	max-height: 200px;
}

.filterarea {
	overflow: auto;
	max-height: 250px;
	border: 1px solid #CED4DA;
  border-radius: 4px;
	padding: 2px;
}

.card-list-item {
	transition: .25s;
	font-size: 8.5pt;
	border-radius: 0 !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card-list-item:not(:hover){
	padding: 3px 4px;
	color: black;
	text-decoration: none;
}
.card-list-item:hover{
	padding: 3px 4px;
	color: black;
	text-decoration: none;
}

@media(max-width: 991.98px) {
	.card-list-item {
		font-size: 10pt;
	}
	.list-group-item.list-group-heading {
		font-size: 10pt;
	}
}

.white:not(:hover) {
	background-color: #ffffeb;
}
.white {
	border-color: #ffffeb;
}

.white:hover {
	background-color: #dfdfcb;
}

.blue:not(:hover) {
	background-color: #d4edff;
}

.blue {
	border-color:#d4edff;
}

.blue:hover {
	background-color: #b4cddf;
}

.black:not(:hover) {
	background-color: #e5dff2;
}

.black {
	border-color: #e5dff2;
}

.black:hover {
	background-color: #c5bfd2;
}

.red:not(:hover) {
	background-color: #ffd8d4;
}

.red {
	border-color: #ffd8d4;
}

.red:hover {
	background-color: #E89DA3;
}

.green:not(:hover) {
	background-color: #e9ffd4;
}
.green {
	border-color: #e9ffd4;
}

.green:hover {
	background-color: #B5E5BA;
}

.multi:not(:hover) {
	background-color: #fcf8a9;
}
.multi {
	border-color: #fcf8a9;
}

.multi:hover {
	background-color: #dcd889;
}

.colorless:not(:hover) {
	background-color: #dcdae0;
}

.colorless {
	border-color: #dcdae0;
}

.colorless:hover {
	background-color: #bcbac0;
}

.lands:not(:hover) {
	background-color: #ffdac4;
}

.lands {
	border-color: #ffdac4;
}

.lands:hover {
	background-color: #dfbaa4;
}

.dropdown-menu a:focus {
	background-color: #28A745;
	color: white
}

.cmc-group {
	border-radius:0;
	position: relative;
}
.cmc-group:not(:last-of-type) {
	/* content : "";
  position: absolute;
  left    : 12.5%;
  bottom  : 0;
  height  : 1px;
  width   : 75%;  or 100px */
  border-bottom:1px solid #999;
}
.cmc-group:last-of-type {
border-bottom: none;
}

.card-price {
  border-radius: 3px;
	padding: 2px;
	margin: 2px;
  border: 1px solid #CED4DA;
}

/* removes white corners from popup */
#autocard_popup {
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	background: #fff;
}

.color-column {
	padding: 2px 2px;
}

.form-check {
	border: none;
}

#contextModalImg {
    width:258px;
    height:359px;
}

.defaultCardImage:before {
    content: ' ';
    display: block;
    position: absolute;
    background-image: url(/content/default_card.png);
    height: 210px;
    width: 150px;
    background-size: 150px 210px;
}

#contextModalImg:before {
    height: 359px;
    width: 258px;
    background-size: 258px 359px;
}

.packcard.defaultCardImage:before, .pickscard.defaultCardImage:before, .deckcard.defaultCardImage:before {
    height: 175px;
    width: 125px;
    background-size: 125px 175px;
}

.visualSpoilerCardContainer {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

#customImageDisplayToggle {
    margin-right: 6px;
}

#customImageDisplayMenuItem {
    float: right;
}

#packTitle, .card-header h4 {
    display: inline-block;
}
