extends ../layout

block content
  include ../flash
  br
  h2 Recover password
  p To recover your password, provide the email associated with the account. A password reset link will be emailed to you.
  br
  form(method='POST', action='/user/lostpassword')
    input(type='hidden', name='_csrf', value=csrfToken)
    .form-group.row
      label.col-sm-2.col-form-label Email:
      input#email.form-control.col-sm-10(name='email', type='text')
    br
    input.btn.btn-success(type='submit',value='Continue')
