extends ../layout

block content
  include ../flash
  br
  form(method='POST', action='/user/lostpasswordreset')
    input(type='hidden', name='_csrf', value=csrfToken)
    .form-group.row
      label.col-sm-4.col-form-label  Email:
      input#email.form-control.form-control.col-sm-8(name='email', type='text')
    .form-group.row
      label.col-sm-4.col-form-label Recovery Code:
      input.form-control.form-control.col-sm-8(name='code', type='text')
    .form-group.row
      label.col-sm-4.col-form-label New Password:
      input#password.form-control.form-control.col-sm-8(name='password', type='password')
    .form-group.row
      label.col-sm-4.col-form-label Confirm New Password:
      input#confirmPassword.form-control.form-control.col-sm-8(name='password2', type='password')
    input.btn.btn-success(type='submit',value='Change Password')
