extends ../layout

block content
  include ../flash
  br
  h1 Register
  br
  form(method='POST', action='/user/register')
    input(type='hidden', name='_csrf', value=csrfToken)
    if attempt
      .form-group.row
        label.col-sm-2.col-form-label Email:
        input#email.form-control.col-sm-10(name='email', type='text', value=attempt.email)
      .form-group.row
        label#username.col-sm-2.col-form-label Username:
        input.form-control.form-control.col-sm-10(name='username', type='text', value=attempt.username)
    else
      .form-group.row
        label.col-sm-2.col-form-label Email:
        input#email.form-control.col-sm-10(name='email', type='text')
      .form-group.row
        label.col-sm-2.col-form-label Username:
        input#username.form-control.form-control.col-sm-10(name='username', type='text')
    .form-group.row
      label.col-sm-2.col-form-label Password:
      input#password.form-control.form-control.col-sm-10(name='password', type='password')
    .form-group.row
      label.col-sm-2.col-form-label Confirm Password:
      input#confirmPassword.form-control.form-control.col-sm-10(name='password2', type='password')
    input.btn.btn-success(type='submit',value='Register')
