extends ../layout

block content  
  include ../flash
  br
  h2 My Account  

  .row
    .col-3
      #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
        if selected=="info"
          a#v-pills-info-tab.nav-link.active(data-toggle='pill', href='#v-pills-info', role='tab', aria-controls='v-pills-info', aria-selected='true') Account Information
        else
          a#v-pills-info-tab.nav-link(data-toggle='pill', href='#v-pills-info', role='tab', aria-controls='v-pills-info', aria-selected='false') Account Information
        if selected=="changepw"
          a#v-pills-pwreset-tab.nav-link.active(data-toggle='pill', href='#v-pills-pwreset', role='tab', aria-controls='v-pills-pwreset', aria-selected='true') Change Password
        else
          a#v-pills-pwreset-tab.nav-link(data-toggle='pill', href='#v-pills-pwreset', role='tab', aria-controls='v-pills-pwreset', aria-selected='false') Change Password
        if selected=="changeemail"
          a#v-pills-email-tab.nav-link.active(data-toggle='pill', href='#v-pills-email', role='tab', aria-controls='v-pills-email', aria-selected='true') Update Email
        else
          a#v-pills-email-tab.nav-link(data-toggle='pill', href='#v-pills-email', role='tab', aria-controls='v-pills-email', aria-selected='false') Update Email
          
    .col-9
      #v-pills-tabContent.tab-content
        if selected=="info"
          #v-pills-info.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-info-tab')
            block information
        else
          #v-pills-info.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-info-tab')          
            block information
        if selected=="changepw"
          #v-pills-pwreset.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-pwreset-tab') 
            block changepassword
        else
          #v-pills-pwreset.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-pwreset-tab') 
            block changepassword              
        if selected=="changeemail"
          #v-pills-email.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-email-tab') 
            block changeemail
        else
          #v-pills-email.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-email-tab') 
            block changeemail
            
