extends ../layout

block content
  include ../flash

  #react-root

block scripts
  script(src='/js/autocard.js', async)
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  include ../react
  script(src='/js/user_view.bundle.js')
