extends ../layout

block content
  include ../flash
  br
  .row
    .col
    .col
      .card(style='padding:10px;width: 40rem;')
        h4 Contact
        p Feel free to contact us if you have any issues or concerns. Comments, ideas, and suggestions are always welcome. Here are the easiest ways to get in touch with us:
        
        dl.row
          dt.col-3 Official Twitter
          dd.col-9
            p
              a(href='https://twitter.com/CubeCobra1') @CubeCobra1  
          dt.col-3 Email
          dd.col-9
            p
              a(href='mailto:support@cubecobra.com') support@cubecobra.com
          dt.col-3 Discord
          dd.col-9
            p
              a(href='https://discord.gg/Hn39bCU') https://discord.gg/Hn39bCU


    .col
