extends ../layout

block content
  include ../flash
  br
  .row
    .col-md-2
    .col-md-8
      .card(style='padding:10px;')
        h4 Contact
        p Feel free to contact us if you have any issues or concerns. Comments, ideas, and suggestions are always welcome. Here are the easiest ways to get in touch with us:
        
        dl.row
          dt.col-md-4 Official Twitter
          dd.col-md-8
            p
              a(href='https://twitter.com/CubeCobra1') @CubeCobra1  
          dt.col-md-4 Email
          dd.col-md-8
            p
              a(href='mailto:support@cubecobra.com') support@cubecobra.com
          dt.col-md-4 Discord
          dd.col-md-8
            p
              a(href='https://discord.gg/Hn39bCU') https://discord.gg/Hn39bCU


    .col-md-2
