extends ../layout

block content
  include ../flash
  br
  .row
    .col
    .col
      .card(style='padding:10px;width: 60rem;')
        h4 Donate
        p Donations are the best way to support Cube Cobra. All donations go towards mantainence costs for Cube Cobra. 
        p Patreon patrons will be invited to an exclusive discord channel where you will be able to contact me directly with feedback.
        
        dl.row
          dt.col-3 Patreon (subscription)
          dd.col-9
            p
              a(href='https://www.patreon.com/cubecobra') https://www.patreon.com/cubecobra 
          dt.col-3 Paypal (one-time donation)
          dd.col-9
            p
              a(href='https://www.paypal.me/cubecobra') https://www.paypal.me/cubecobra


    .col
