extends ../layout

block content
  include ../flash
  br
  dl.row
    .col-md-2
    .col-md-8
      .card(style='padding:10px;')
        h4 Donate
        p Donations are the best way to support Cube Cobra. All donations go towards mantainence costs for Cube Cobra. 
        p Patreon patrons will be invited to an exclusive discord channel where you will be able to contact me directly with feedback.
        
        dl.row
          dt.col-md-4 Patreon (subscription)
          dd.col-md-8
            p
              a(href='https://www.patreon.com/cubecobra') https://www.patreon.com/cubecobra 
          dt.col-md-4 Paypal (one-time donation)
          dd.col-md-8
            p
              a(href='https://www.paypal.me/cubecobra') https://www.paypal.me/cubecobra


    .col-md-2
