extends ../layout

block content
	include ../flash
	br
	h4 Frequently Asked Questions
	br
	dl.row
		dt.col-3 What does Cube Cobra provide that other tools do not?
		dd.col-9
			p The biggest advantage Cube Cobra has right now is a more modern and maintainable technology stack compared to other tools. This means Cube Cobra is updated frequently and is committed to
				|  adding features that the community asks for. There are some features that are are big improvements over other tools,
				|  such as an easier way to manage card versions, a sortable cube view, and since the website is powered by scryfall, newly spoiled cards can be used at most 24 hrs
				|  after being spoiled, with no downtime! 
		dt.col-3 What tech stack does Cube Cobra use?
		dd.col-9
			p Cube Cobra is built using NodeJS with MongoDB for the internal database, and JADE/PUG for the templating engine. Cube Cobra uses a lot of client side javascript, 
				|  bootstrap for CSS, and relies heavily on Scryfall API.        
		dt.col-3 Is Cube Cobra Open Source?
		dd.col-9
			p Yes! Given the goals of Cube Cobra, we've felt the best way to give the community the tool that they want is to make it a collaborative project. For the community, by the community.
			p If you are a developer, and would like to contribute, you can check it out here: 
				a(href='https://github.com/dekkerglen/CubeCobra') https://github.com/dekkerglen/CubeCobra
		dt.col-3 I am not a developer, can I still help improve Cube Cobra?
		dd.col-9
			p Yes! Even if you are not a developer, you can still get involved in helping Cube Cobra become a better platform for everyone! If you want to be more involved in the community,
				|  join the discord linked under contact. You can submit bug reports, make feature requests, and talk to the developers directly there.
		dt.col-3 I'm having trouble building my cube, where can I go for help?
		dd.col-9
			p Head on over to our Discord! You can find the link under our contact page! We have an avid cubing community that would be more than happy to help you build your cube!
			p Another great resource is the mtgcube subreddit: 
				a(href='https://www.reddit.com/r/mtgcube/') https://www.reddit.com/r/mtgcube/
