extends ../layout

block content
  include ../flash
  br
  h4 Filter Syntax Guide
  br
  dl.row
    .accordion#syntax-accordion
      .card
        #general-syntax.card-header(data-toggle="collapse" data-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral")
          button(class="btn btn-link" type="button")
            h5 General
        #collapseGeneral.collapse.show(aria-labelledby="general-syntax" data-parent="#syntax-accordion")
          p You can combine any number of filters together using #[code AND] or #[code OR]. Operators are case-insensitive, as are all filtering conditions (#[code TYPE:instant and o:DESTROY] will still work, for example).
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code t:instant OR t:sorcery]
              td(scope="col") Cards that are either instants or sorceries.
            tr
              td(scope="col") #[code t:instant t:tribal]
              td(scope="col") Cards that are both instants and tribal.
          p Text without a filtering condition is treated as a name. You can use quotes to require an exact match.
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code goblin blood]
              td(scope="col") Cards whose names contain both "blood" and "goblin".
            tr
              td(scope="col") #[code "goblin blood"]
              td(scope="col") Cards whose names contain exactly "goblin blood".
            tr
              td(scope="col") #[code o:destroy o:target o:creature] 
              td(scope="col") Cards whose oracle text contains each of "destroy", "target", and "creature".
            tr
              td(scope="col") #[code o:"destroy target creature"]
              td(scope="col") Cards whose oracle text contains exactly "destroy target creature".
          p You can also use parentheses to combine clauses.
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code t:instant OR (t:creature o:flash)]
              td(scope="col") Cards which are instants, or cards which are creatures with flash.
            tr
              td(scope="col") #[code (t:artifact t:creature) OR (-t:creature o:create)]
              td(scope="col") Cards which are artifact creatures, or cards that aren't creatures and have "create" in their oracle text.
          p You can put #[code -] before anything to negate it.
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code -c:w] 
              td(scope="col") Cards that are not white.
            tr
              td(scope="col") #[code -o:draw] 
              td(scope="col") Cards which do not have draw in their oracle text.
            tr
              td(scope="col") #[code -t:creature] 
              td(scope="col") Cards which are not creatures.
            tr
              td(scope="col") #[code -mox] 
              td(scope="col") Cards whose names do not include "mox".
      .card
        #color-syntax.card-header(data-toggle="collapse" data-target="#collapseColor" aria-expanded="true" aria-controls="collapseColor")
          button(class="btn btn-link" type="button")
            h5 Color and Color Identity
        #collapseColor.collapse(aria-labelledby="color-syntax" data-parent="#syntax-accordion")
          p You can find cards that are a certain color by using #[code c:] or #[code color:], and cards with a certain color identity by using #[code ci:], #[code id:] or #[code identity:].
          p Operators supported: #[code :], #[code =], #[code <], #[code >], #[code <=], #[code >=].
          p In addition to #[code w], #[code u], #[code b], #[code r], #[code g] and #[code c], you can use color words like #[code white], #[code blue], #[code green], etc.
          p You can also use all shard, wedge, or guild names, like #[code azorius], #[code bant], #[code dimir], etc.
          p You can also compare by number of colors by using numbers instead of color names.
          p Color Identity searches will respect any color identity overrides you have set while filtering in your cube.
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code c=wubrg] 
              td(scope="col") Cards that are all 5 colors.
            tr
              td(scope="col") #[code c<esper] 
              td(scope="col") Cards who colors are a subset of Esper (UB, WB, WU, U, B, W, or colorless).
            tr
              td(scope="col") #[code ci:wu] 
              td(scope="col") Cards whose color identities are exactly white blue.
            tr
              td(scope="col") #[code ci>azorius]
              td(scope="col") Cards whose color identities contain white, blue, and at least one other color.
            tr
              td(scope="col") #[code ci>1] 
              td(scope="col") Cards with more than 1 color in their identity.
      .card
        #card-type-syntax.card-header(data-toggle="collapse" data-target="#collapseCardTypes" aria-expanded="true" aria-controls="collapseCardTypes")
          button(class="btn btn-link" type="button")
            h5 Card Types
        #collapseCardTypes.collapse(aria-labelledby="card-type-syntax" data-parent="#syntax-accordion")
          p You can search for card types with #[code t:] or #[code type:].
          p Operators supported: #[code :], #[code =].
          p Search for any part of the typeline, i.e. #[code legendary], or #[code human].
          p Partial types are allowed.
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code type=legendary] 
              td(scope="col") Cards that are legendary.
            tr
              td(scope="col") #[code t:legendary t:creature] 
              td(scope="col") Cards that are legendary creatures.
            tr
              td(scope="col") #[code t:sha] 
              td(scope="col") Cards that are shamans, or shapeshifters, spellshapers.
      .card
        #card-text-syntax.card-header(data-toggle="collapse" data-target="#collapseCardTextAndSet" aria-expanded="true" aria-controls="collapseCardTextAndSet")
          button(class="btn btn-link" type="button")
            h5 Card Text and Set
        #collapseCardTextAndSet.collapse(aria-labelledby="card-text-syntax" data-parent="#syntax-accordion")
          p You can use #[code o:] or #[code oracle:] to search oracle text, and #[code s:] or #[code set:] to search for a specific set code.
          p Operators Supported: #[code :], #[code =].
          p This searches the full oracle text, including reminder text. The set code can be either upper or lower case.
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code o:"draw a card"] 
              td(scope="col") Cards whose oracle text contains "draw a card".
            tr
              td(scope="col") #[code o:":"] 
              td(scope="col") Cards whose oracle text contains ":" (cards with activated abilities).
            tr
              td(scope="col") #[code s:war]
              td(scope="col") Cards from War of the Spark.
      .card
        #mana-cost-syntax.card-header(data-toggle="collapse" data-target="#collapseManaCosts" aria-expanded="true" aria-controls="collapseManaCosts")
          button(class="btn btn-link" type="button")
            h5 Mana Costs
        #collapseManaCosts.collapse(aria-labelledby="mana-cost-syntax" data-parent="#syntax-accordion")
          p You can use #[code m:] or #[code mana:] to search for cards with specific mana costs.
          p Operators Supported: #[code :], #[code =].
          p You can use plain numbers and letters for the 5 basic colors, snow, colorless, and x, y, and z costs.
          p For hybrid costs, you can use #[code {}] i.e. #[code {2/G}], #[code {R/G}], etc.
          p For phyrexian mana, use #[code {W/P}].
          p You can also surround mana costs with #[code {}] if you prefer, i.e. #[code {2}{G}{g}] instead of #[code 2GG]. Either way is fine.
          p You can search for cards that require two or more colors with #[code is:gold], and cards that contain hybrid symbols with #[code is:hybrid] or Phyrexian mana symbols with #[code is:phyrexian].
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code m:{r/g}{r/g}] 
              td(scope="col") Cards that cost two hybrid red/green mana, i.e. Burning Tree Emissary.
            tr
              td(scope="col") #[code m:2ww] 
              td(scope="col") Cards that cost 2 generic mana, and 2 white mana.
            tr
              td(scope="col") #[code is:gold]
              td(scope="col") Cards that require two or more colors.
            tr
              td(scope="col") #[code is:hybrid]
              td(scope="col") Cards with one or more hybrid mana symbols.
            tr
              td(scope="col") #[code is:phyrexian]
              td(scope="col") Cards with one or more Phyrexian mana symbols.
      .card
        #cmc-syntax.card-header(data-toggle="collapse" data-target="#collapseCmc" aria-expanded="true" aria-controls="collapseCmc")
          button(class="btn btn-link" type="button")
            h5 Converted Mana Cost
        #collapseCmc.collapse(aria-labelledby="cmc-syntax" data-parent="#syntax-accordion")
          p You can use #[code cmc:] to search for specific converted mana costs.
          p Operators supported: #[code :], #[code =], #[code <], #[code >], #[code <=], #[code >=].
          p #[strong Examples:]
          table.table
            tr
              td(scope="col")  #[code cmc>5] 
              td(scope="col") Cards with converted mana cost greater than 5.
            tr  
              td(scope="col") #[code cmc=3] 
              td(scope="col") Cards with converted mana cost of exactly 3.
      .card
        #power-toughness-syntax.card-header(data-toggle="collapse" data-target="#collapsePower" aria-expanded="true" aria-controls="collapsePower")
          button(class="btn btn-link" type="button")
            h5 Power, Toughness, and Loyalty
        #collapsePower.collapse(aria-labelledby="power-toughness-syntax" data-parent="#syntax-accordion")
          p You can use #[code pow:] or #[code power:] to search for cards with certain powers.
          p You can use #[code tou:] or #[code toughness:] to search for cards with certain toughness.
          p You can use #[code loy:] or #[coode loyalty:] to search for cards with certain starting loyalty.
          p Operators supported: #[code :], #[code =], #[code <], #[code >], #[code <=], #[code >=].
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code pow>7]
              td(scope="col") Cards with greater than 7 power.
            tr
              td(scope="col") #[code pow<5 tou<5]
              td(scope="col") Cards with both less than 5 power, and less than 5 toughness.
            tr
              td(scope="col") #[code loy:3 or loy:4]
                td(scope="col") Cards with a starting loyalty of 3 or 4.
      .card
        #rarity-syntax.card-header(data-toggle="collapse" data-target="#collapseRarity" aria-expanded="true" aria-controls="collapseRarity")
          button(class="btn btn-link" type="button")
            h5 Rarity
        #collapseRarity.collapse(aria-labelledby="rarity-syntax" data-parent="#syntax-accordion")
          p You can use #[code r:] or #[code rarity:] to search for cards with a specific rarity.
          p Operators supported: #[code :], #[code =], #[code <], #[code >], #[code <=], #[code >=].
          p #[strong Examples:]
          table.table
            tr
              td(scope="col") #[code r:common]
              td(scope="col") Common cards.
            tr
              td(scope="col") #[code r<=uncommon]
              td(scope="col") Common or uncommon cards.
            tr
              td(scope="col") #[code r:common or r:rare]
              td(scope="col") Common or rare cards.
      .card
        #collapseArtist-syntax.card-header(data-toggle="collapse" data-target="#collapseArtist" aria-expanded="true" aria-controls="collapseArtist")
          button(class="btn btn-link" type="button")
            h5 Artist
        #collapseArtist.collapse(aria-labelledby="collapseArtist-syntax" data-parent="#syntax-accordion")
          p You can use #[code a:], #[code art:], or #[code artist:] to search for cards illustrated by a specific artist.
          p #[strong Examples:]
            table.table
              tr
                td(scope="col") #[code a:"seb mckinnon"]
                td(scope="col") All cards illustrated by Seb Mckinnon.
              tr
                td(scope="col") #[code a:reb]
                td(scope="col") All cards illustrated by artists with "reb" in their name.
      .card
        #collapsePrice-syntax.card-header(data-toggle="collapse" data-target="#collapsePrice" aria-expanded="true" aria-controls="collapsePrice")
          button(class="btn btn-link" type="button")
            h5 Price
        #collapsePrice.collapse(aria-labelledby="collapsePrice-syntax" data-parent="#syntax-accordion")
          p You can use #[code price:], #[code priceNormal:], or #[code priceFoil:] to filter cards by price. When filtering in individual cubes, #[code price:] uses the printing specified for the cube.
          p #[strong Examples:]
            table.table
              tr
                td(scope="col") #[code price>10.5]
                td(scope="col") All cards in a cube whose specified printing has a price over $10.50.
              tr
                td(scope="col") #[code priceFoil<10 OR priceNormal<10]
                td(scope="col") All cards with a price under $10.
      .card
        #collapseMiscellaneous-syntax.card-header(data-toggle="collapse" data-target="#collapseMiscellaneous" aria-expanded="true" aria-controls="collapseMiscellaneous")
          button(class="btn btn-link" type="button")
            h5 Miscellaneous
        #collapseMiscellaneous.collapse(aria-labelledby="collapseMiscellaneous-syntax" data-parent="#syntax-accordion")
          p You can use #[code elo:] to filter cards by their ELO rating.
          p #[strong Filters for individual cubes:]
          p You can use #[code finish:] to filter by cards with the given finish. Available options are "Non-foil" and "Foil".
          p You can use #[code status:] to filter by cards with the given status. Available options are "Not Owned", "Ordered", "Owned", "Premium Owned", and "Proxied".
          p #[strong Examples:]
            table.table
              tr
                td(scope="col") #[code elo>1500]
                td(scope="col") All cards with an ELO rating above 1500.
              tr
                td(scope="col") #[code finish:non-foil]
                td(scope="col") All cards with the non-foil finish selected.
              tr
                td(scope="col") #[code status:"Premium Owned"]
                td(scope="col") All cards marked with the "Premium Owned" status.
