extends ../layout

block content
	include ../flash
	br
	h4 Our Story
	br
	dl.row
		dt.col-3 About The Creator
		dd.col-9
			p My name is Gwen, and I'm the creator and Admin of Cube Cobra. Cube Cobra originated as my passion project. It started out with me being frustrated at not having tools that I enjoy for cube management, as cube design is a major hobby for me.
				|  I wanted a platform that had exactly the features that I cared about, and from talking to others in the cubing community, the current cube management tools left a lot
				|  to be desired. I launched Cube Cobra with my initial minimum feature set in June 2019, and since then I've been adding features.
				|  With my 1.3 update, I started sharing my project with the online cubing community and recieved a lot of positive encouragement and praise, which has further driven me
				|  to create a cube management tool for cube designers, by a fellow cube designer. I ended up open sourcing Cube Cobra, to 
		dt.col-3 Project Goals
		dd.col-9
			p The main goal of Cube Cobra is to create a cube management tool that doesn't need to be supplemented with any other tool such as excel, gatherer, or another cube management app.
				|  We want to create a platform that is easy to use, that still has advanced enough features that allow users a high degree of freedom to organize and analyze their cube in a way
				|  that makes sense to them. I want to create the best possible platform for users to build, playtest, and share their cube.
		dt.col-3 Moving Forward
		dd.col-9
			p Cube Cobra is an ongoing collaborative effort. We have a ton of feature requests, and passionate developers working through to constantly improve the platform. We're have several
				|  large, long-term features that are in the pipeline, that we're very excited about. Make sure to follow us on Twitter, Facebook and/or Discord to stay up to date on all Cube Cobra updates.
