p
	a 
p	
	a New Features:
p
	ul
		li Added card search.
		li Reworked card pages.
		li Added a popup to quickly add cards to your cube from recommender.
		li Added more fields for 'legality' sort and filter.
		li Draft bots now take devotion into account.
p
	a Bugfixes:
p
	ul
		li Fixed flash errors on cube creation.
		li Planeswalkers are now counted correctly in deckbuilder counts.
		li Cube type now displayed on mobile