p
	a We have another exciting update ready for you today! You may have noticed some downtime tonight, that's because the big feature from this update is short URLs, so we needed to take the server down to update the database.
p
	a New Features:
p
	ul
		li Cube IDs are now signfiantly shorter. Almost all cubes will now be 2 digits, but new cubes will be 3 digits
		li Custom cube url aliases added
		li Persistent Authentication: users will no longer be logged out during crashes or downtime
		li Several minor improvements for viewing the site on mobile
		li Filtered cubes can now be shared, the filter is now stored in the url
		li Page titles are now named after the appropriate cube
		li Non-promotional, non-digital cards are now the default version
p
	a Bugfixes:
	ul
		li Fixed minor UI issues
		li Fixed new lines in cube posts
		li Bot draft decks style fixed
		li Correct metatags for twitter added
