p
	a As of today, Cube Cobra is officially open source! This has a lot of implications for the site, so I'll break it down for users, and for developers.
p
	a For Users:
p
	a As a user, you can expect features to be more robust, and more frequently released. Bugs will be easier to catch with more eyes looking at the code, and more developers running tests.
	a  Due to the nature of open source, no matter what happens to me in terms of personal matters, and the amount of time commitment I'll be able to spend on Cube Cobra, the site will be able
	a  to live on in one form or another. Even if I get hit by a bus tomorrow, another developer would be able to fork Cube Cobra and rehost it under a new name. One of the core goals of Cube Cobra
	a  was to create a tool for cube designers, by cube designers. I strongly believe that the best way to move forward with that goal is the open source route.
p
	a For Developers:
p
	a We would be thrilled to have you as a contributor, regardless of any skill level. Even if you're completely unfamiliar with any of the languages and have barely dabbled in writing code, we're here to help.
	a  Our goal is to foster an inclusive community of contributors where our primary goals are not only to improve the site, but also to provide an opportunity for other developers to learn new skills.
	a  Don't hesitate to reach out to with any questions.
p
	a You can check out the project here: 
		a(href='https://github.com/dekkerglen/CubeCobra') https://github.com/dekkerglen/CubeCobra
br
p
	a In addition to this anouncement, I also felt obligated to inform everyone that my role as a contributor will begin to slow down today. I'm in the process of moving to a new state, starting a new job, and
	a  going back to school for my Master's degree. These things for me will have to take priority over Cube Cobra, but I will still be able to spend a little bit of time on the project each week. I plan
	a  to transition to more of a project manager role with the open source project, and ensure that Cube Cobra continues to head in a good direction. There are some big features I am eager to tackle myself,
	a  and I plan to invest more time into those features when the semester is over, and I have a bit more free time.
