p
	a 
p
	a New Features:
p
	ul
		li Added a button to clone cubes.
		li Draft bot improvements, now only use Elo and modified land and color priority.
		li Elo for cards can be viewing on card modal.
		li Added Elo as a sort and filter.
		li Added Elo to card pages.
		li Styling improvements for prices and Elo.
		li Cube prices improved.
		li Small UI Improvements to custom draft formats.
		li Added Proxied as a card status.
		li Card list item color tweaked.
		li Mayboard items added to CSV import/export.
		li Updated group modal with single card modal changes. (tagging w/o clicking tab is the important change)
		li Added creature/noncreature as a sort.
		li Group modals now dismiss when the last card is removed.
		li Improved compressed view.
p
	a Bugfixes:
	ul
		li Fixed an issue where editing a custom format loads incorrect state.
		li Fixed an issue where editing cube tags would cause a crash.
		li Fixed several issues with server-side rendering.
		li Fixed an issue with faulty autocard on top cards.
		li Fixed several issues related to maybeboard.
		li Fixed a bug where importing with csv would remove all cube images.
