p
  a The deckbuilder has arrived! In addition to a deckbuilder, the draft has been completely reworked so players can organize their picks however they like. I've also reworked a bit of sitewide UI, to make
  a  things a bit sleeker and take up less highly valuable real estate. 
p
  a New Features
  ul
    li Added deckbuilder
    li Added deckbuilder module to draft
    li Cleaned up cube view banners
p
  a There are some minor bugfixes included in this update inadvertently, as the most reported issues were with the old draft. I'm going to be monitoring feedback and issues very closely, and if there are
  a  any issues with the draft, I will put out a hotfix for it. 
p
  a On a more personal note, I'm starting a cross-country move at the end of next week, so that's the deadline I'm targeting for launching open source. After then it will take me some time to pack, unpack, 
  a  and get settled in before I can continue pumping out features. I appreciate all the support I've received so far, and I'm very excited for what the future holds for Cube Cobra!
