p
	a 
p
	a New Features:
p
	ul
		li Cards with proxied status no longer contribute to owned price.
		li All cards will now be displayed on top cards regardless of prescence of data, but data may be blank.
		li Foil overlay tweaked per user feedback.
		li Added Commander as a cube type.
		li Non-english scryfall IDs now redirect to english version for card analytics.
p
	a Bugfixes:
	ul
		li Fixed an issue with cube overview image not being able to be set.
		li Fixed an issue where certain cube's overview would not load.
		li Fixed autocard on dashboard.
		li Fixed an issue where using select all does not apply filter.
		li Fixed a warning in Cube Playtest Page.
		li Fixed custom draft format sorting issue.