p
  a This update contains significant improvements to viewing and editing your cube. We've added two new ways to view your cube, and made it easier to edit cards in bulk.
p
  a New Features:
p
  ul
    li List View is now Table view
    li Added a new List View, only visible for viewing your own cubes
    li Added a curve view
    li Added card type as an overridable field on cards
    li Added the ability to remove cards from a group select
    li Added full fields for group edits
