p
	a I feel I need to apologize for putting out this update late. Last week I was very sick with the flu, and that didn't give me a lot of time to make sure this update was up to quality, so I decided to postpone to now. You may have noticed significantly more downtime during the deployment of this update, and that's because we've switched to an improved, scalable server infrastructure. This will keep everything fast, despite more people trying to access the site. In addition to the infrastructure changes, we have a nice collection of new features to share.
p
	a New Features:
p
	ul
		li 'Top Cards' can now be accessed from About->Top Cards. Cards are rated based on draft data
		li 'Feature Cubes' section added to homepage. We will use this section to show off some extra special cubes! 
		li Cards can now be middle clicked to bring up the TCGPlayer page
		li Line breaks are now allowed in blog posts
		li Added RSS feeds for cubes. Links can be found underneath the cube image, under cube overview
		li Added an API to fetch cube lists. If you're interested in integrating, PM Dekkaru on the Cube Cobra Discord server
		li Add CSRF protection. This makes our site more secure against attackers!
p
	a Bugfixes:
	ul
		li Removed duplicate tag suggestions
		li Fixed issue with Listview crashing, related to changing color identity or status
		li Fixed issue with advanced filter UI and filtering by status
		li Filter syntax is no longer case sensitive
		li Fixed tag color display in compare view
		li Issue fixed when time stamps are off by on month
		li Import from CSV now adds time stamps correctly
		li Fixed an issue with automatic blog post titles not being correct
		li Adding lands reset correctly now
		li Fixed issue with invalid color attributes with a csv import
		li Fixed several issues related to updated a group of cards
		li CMCs with large values, and fractional values, are now accounted for

