p
	a This update marks the start of site-wide card analytics. We've added card pages that show some useful information regarding individual card inclusion rates, cards drafted frequently with a given card, and a basic way to see a few cubes that run a particular card. 
p
	a New Features:
p
	ul
		li Card Pages. You can see card pages by clicking on a card from the 'Top Cards' page, or by middle clicking, or ctrl+clicking a card from a cube.
		li Default versions of cards are now more 'reasonable' (no more anime WAR walkers!)
		li Added in several missing tokens.
		li Notifications can be cleared without causing a page refresh.
		li Visible tags are now imported from CubeTutor. (imported tags must have the color set on CT).
		li Advanced search is no longer case sensitive.
		li Cube Owners can now upload decklists to their cube.
		li Added price filter to top cards.
p
	a Bugfixes:
	ul
		li Fixed an issue where the draft bots wouldn't take into account the card type properly.
		li Fixed issue where the card modal wouldn't open up in visual spoiler.
		li Fixed an issue where the time elapsed would erraneously show over a month ago.
		li DFCs now display the back side in card preview correctly again.
		li Fixed an issue where dropdowns needed to be double-clicked.
