extends ../layout

block content
  include ../flash
  br
  h4 Advanced Search
  br
  form(method='POST', action='/advanced_search')
    input(type='hidden', name='_csrf', value=csrfToken)
    .form-group.row
      label.col-sm-2.col-form-labelCube Name
      .col-sm-10
        input.form-control(name='name')
    fieldset.form-group
      .row
        legend.col-form-label.col-sm-2.pt-0
        .col-sm-10
          .form-check
            input#gridRadios1.form-check-input(type='radio', name='nameType', value='~', checked='')
            label.form-check-label(for='gridRadios1') Contains
          .form-check
            input#gridRadios2.form-check-input(type='radio', name='nameType', value='=')
            label.form-check-label(for='gridRadios2') Exact matches only            
    .form-group.row
      label.col-sm-2.col-form-label Cube Owner
      .col-sm-10
        input.form-control(name='owner')
    fieldset.form-group
      .row
        legend.col-form-label.col-sm-2.pt-0
        .col-sm-10
          .form-check
            input#gridRadios3.form-check-input(type='radio', name='ownerType', value='~', checked='')
            label.form-check-label(for='gridRadios3') Contains
          .form-check
            input#gridRadios4.form-check-input(type='radio', name='ownerType', value='=')
            label.form-check-label(for='gridRadios4') Exact matches only
    .form-group.row
      .col-sm-10
        button.btn.btn-success(type='submit') Search
