extends ../layout

block content
  include ../flash
  .text-center
    h3.mt-4 404: Page not found
    img.mt-4(src="https://img.scryfall.com/cards/normal/front/0/c/0c082aa8-bf7f-47f2-baf8-43ad253fd7d7.jpg?1545408427")
