extends ../layout

block content
  .text-center
    h3.mt-3 Oops! Something went wrong.
    p
    | Please report this on the #[a(href='https://discord.gg/Hn39bCU') CubeCobra discord]. #[br]
    | #{error}. Request ID #[code=requestId].
