link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet' href='/css/stylesheet.css')

img(src="/content/banner_small.png" alt="Cube Cobra: a site for Magic: the Gathering Cubing")
p Hi,
p We received a request to reset your password.
a(href="https://cubecobra.com/user/passwordreset/"+id) Reset password.
p Your recovery code is: 
    code #{code}
p This link expires in 15 minutes.
p If you did not request a password reset, ignore this email.