extends ../layout

block content
  include ../flash

  #react-root
  input#blogData(type='hidden', value=post)
  if position
    input#positionData(type='hidden', value=position)
  if user
    input#userid(type='hidden', value=user._id)

block scripts
  include ../react
  script(src='/js/csrf.js')
  script(src='/js/blog.js')
  script(src='/js/blogpost.bundle.js')
