extends cube_layout

block cube_content
  link(rel='stylesheet' href='/css/autocomplete.css')
  link(rel='stylesheet' href='/css/editcube.css')
  include ../flash

  #react-root

block scripts
  include ../react
  script(src='/js/autocard.js')
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  script(src='/js/bulk_upload.bundle.js')
