extends cube_layout

block cube_toolbar
  link(rel='stylesheet' href='/css/draft.css')

block cube_content
  include ../dynamic_flash
  #react-root
  script(type='text/javascript').
    var initialDraft = !{draft_raw};

block scripts
  include ../react
  script(src='/js/autocard.js')
  script(src='/js/cube_draft.bundle.js')
