extends cube_layout

block cube_toolbar
  link(rel='stylesheet' href='/css/draft.css')

block cube_content
  include ../dynamic_flash
  #react-root !{reactHTML}

block scripts
  include ../react
  script(src='/js/autocard.js')
  script(type='text/javascript').
    var reactProps = !{JSON.stringify(reactProps)};
  script(src='/js/cube_draft.bundle.js')
