extends cube_layout

block cube_content
  include ../dynamic_flash
  #react-root
  input#curveData(type='hidden', value=curve)
  input#typeData(type='hidden', value=TypeByColor)
  input#multicolorData(type='hidden', value=MulticoloredCounts)
  input#generatedTokensData(type='hidden',value=GeneratedTokensCounts)
  include ../react
  script(src='/js/cube_analysis.bundle.js')
