extends cube_layout

block cube_content
  include ../dynamic_flash
  #react-root
  input#cube(type='hidden', name='cube', value=cube)

block scripts
  script(src='/js/autocard.js', async)
  include ../react
  script(src='/js/cube_analysis.bundle.js')
