extends cube_layout

block cube_toolbar
  input#cuberaw(type='hidden', name='cuberaw', value=cube_raw)

block cube_content
  include ../dynamic_flash
  #react-root

block scripts
  include ../react
  script(type='text/javascript').
    var reactProps = !{JSON.stringify(reactProps)};
  script(src='/js/cube_playtest.bundle.js')
  script(src='/js/packcraft.js', async)
  script(src='/js/texteditor.js', async)
