extends ../layout

block content
  link(rel='stylesheet' href='/css/tags.css')
  link(rel='stylesheet' href='/css/editcube.css')
  link(rel='stylesheet' href='/css/texteditor.css')

  include ../flash

  #react-root !{reactHTML}

  include ../react

block scripts
  script(src='/js/autocard.js', async)
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  script(src='/js/cube_list.bundle.js', async)
