extends cube_layout

block cube_toolbar
  link(rel='stylesheet' href='/css/draft.css')

block cube_content
  include ../dynamic_flash
  #react-root

block scripts
  script(src='/js/autocard.js')
  script(type='text/javascript').
    var reactProps = {
      initialDeck: !{deck_raw},
      basics: !{basics_raw},
    };
  include ../react
  script(src='/js/cube_deckbuilder.bundle.js')
