extends cube_layout

block cube_content
  include ../flash
  
  #react-root

block scripts
  include ../react
  script(src='/js/autocard.js')
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  script(src='/js/cube_samplepack.bundle.js')