extends cube_layout

block cube_toolbar
  link(rel='stylesheet' href='/css/draft.css')
  input#basicsraw(type='hidden', name='basicsraw', value=basics_raw)
  form#submitDeckForm(method='POST', action='/cube/editdeck/'+deckid)
    input(type='hidden', name='_csrf', value=csrfToken)
    input#deckraw(type='hidden', name='draftraw', value=deck_raw)

  #dragelement(style='position:absolute;z-index: 9999;')
  .usercontrols
    nav.navbar.navbar-expand.navbar-light
      .collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a#saveDeckButton.nav-link(href='#' ) Save Deck
          li.nav-item
            a.nav-link(href='#' data-toggle='modal', data-target='#basicsModal') Add Basic Lands
          li.nav-item
            span#customImageDisplayMenuItem.nav-link.text-sm-left.text-center
              input#customImageDisplayToggle(type='checkbox')
              label(for='customImageDisplayToggle') Show Custom Images

block cube_content
  include ../flash
  br
  .card.card-hover#deckhover
    .card-header
      h4#deckName Deck
    .card-body
      #deckarea(style='margin: 3px;')
  br
  .card.card-hover#sideboardhover
    .card-header
      h4 Sideboard
    .card-body
      #sideboardarea(style='margin: 3px;')

  #basicsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cubeModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .modal-header
          h5 Add Basic Lands
        .modal-body
          .form-inline
            img(src='/content/symbols/w.png' alt='White' title='White' style='padding-right:10px;')
            select#basicsWhite.form-control(name='White')
              option(selected='') 0
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option 11
              option 12
              option 13
              option 14
              option 15
              option 16
              option 17
              option 18
              option 19
              option 20
          .form-inline
            img(src='/content/symbols/u.png' alt='Blue' title='Blue' style='padding-right:10px;')
            select#basicsBlue.form-control(name='Blue')
              option(selected='') 0
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option 11
              option 12
              option 13
              option 14
              option 15
              option 16
              option 17
              option 18
              option 19
              option 20
          .form-inline
            img(src='/content/symbols/b.png' alt='Black' title='Black' style='padding-right:10px;')
            select#basicsBlack.form-control(name='Black')
              option(selected='') 0
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option 11
              option 12
              option 13
              option 14
              option 15
              option 16
              option 17
              option 18
              option 19
              option 20
          .form-inline
            img(src='/content/symbols/r.png' alt='Red' title='Red' style='padding-right:10px;')
            select#basicsRed.form-control(name='Red')
              option(selected='') 0
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option 11
              option 12
              option 13
              option 14
              option 15
              option 16
              option 17
              option 18
              option 19
              option 20
          .form-inline
            img(src='/content/symbols/g.png' alt='Green' title='Green' style='padding-right:10px;')
            select#basicsGreen.form-control(name='Green')
              option(selected='') 0
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option 11
              option 12
              option 13
              option 14
              option 15
              option 16
              option 17
              option 18
              option 19
              option 20
        .modal-footer
          button#addBasicsButton.btn.btn-success(type='submit',value='Add') Add
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  include ../react
  script(src='/js/csrf.js')
  script(src='/js/utils.js')
  script(src='/js/deckbuilder.js')

