extends ../layout

block content
  link(rel='stylesheet' href='/css/texteditor.css')

  include ../flash

  #react-root

block scripts
  include ../react
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  script(src='/js/cube_blog.bundle.js')

  script(src='/js/autocard.js')
  script(type='text/javascript').
    autocard_init('autocard');
    autocard_init('dynamic-autocard');
