extends cube_layout

block cube_toolbar
  link(rel='stylesheet' href='/css/texteditor.css')

block cube_content
  include ../dynamic_flash
  #react-root

block scripts
  include ../react
  script(type='text/javascript').
    var reactProps = !{reactProps};
  script(src='/js/cube_playtest.bundle.js')
