extends cube_layout

block cube_toolbar               
  link(rel='stylesheet' href='/css/texteditor.css')
  link(rel='stylesheet' href='/css/tags.css')
  link(rel='stylesheet' href='/css/editcube.css')

  include ../dynamic_flash
  
block cube_content
  #react-root

block scripts
  include ../react
  script(type='text/javascript').
    var reactProps = !{JSON.stringify(reactProps)};

  script(src='/js/cube_overview.bundle.js')

  script(src='/js/autocard.js')
  script(type='text/javascript').
    autocard_init('autocard');
    autocard_init('dynamic-autocard');
