extends ../layout

block content
  include ../dynamic_flash
  #react-root

block scripts
  include ../react
  script(type='text/javascript').
    window.reactProps = !{reactProps};

  script(src='/js/autocard.js', async)
  script(src='/js/cube_analysis.bundle.js')
