extends ../layout

block content
  link(rel='stylesheet' href='/css/draft.css')

  include ../dynamic_flash

  #react-root

block scripts
  script(src='/js/autocard.js')
  script(type='text/javascript').
    window.reactProps = !{reactProps};
  include ../react
  script(src='/js/cube_deck.bundle.js')
