link(rel='stylesheet' href='/css/email.css')

div(class="banner-container")
    img(src="https://cubecobra.com/content/banner_small.png" alt="Cube Cobra: a site for Magic: the Gathering Cubing")

p Thanks for joining Cube Cobra!
a(class="button", href="https://cubecobra.com/user/register/confirm/"+id) Confirm my email