name: CI Tests

# Pull request will trigger when PR is opened or updated, and more (https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#pull_request)
# Thus limit push checks to master branch so things run after the PR is merged. Without the limit multiple actions run on each PR
on:
  pull_request:
  push:
    branches:
      - 'master'

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
        with:
          # To use with eslint script
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: npm install

      - name: Run linting (Prettier + ESLint)
        run: npm run lint:check

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test:ci

      - name: Upload Jest Coverage Report
        if: success()
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: jest-coverage
          path: coverage

      - name: Report Coverage to PR
        if: github.event_name == 'pull_request'
        uses: ArtiomTr/jest-coverage-report-action@v2
        with:
          coverage-file: ./packages/server/coverage/coverage-summary.json
          base-coverage-file: ./packages/server/coverage/coverage-summary.json
          skip-step: all
          annotations: none

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run ci-build

  integrationTests:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [lint, test, build]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: npm install

      - name: Run integration tests
        run: npm run test:integration
